<div class="row">
  <div class="col-sm-offset-9 col-sm-3">
    <div class="form-group">
        {{input class="form-control" value=searchField placeholder="Search"}}
    </div>
  </div>
</div>
<div class="row">
  {{#each movie in arrangedContent}}
    <div class="col-sm-2 movie" data-toggle="modal" data-target="#movie-detail" {{action "showDetail" movie}}>
      <div class="poster">
        <img class="image" {{bind-attr src="movie.posters.detailed"}} /><br>
      </div>
      <div class="title">
        {{movie.title}}
      </div>
      <div class="title">
        <div class="critic-score">
          {{#if movie.criticApproved}}
            <img class="rating-image" src="/assets/images/fresh-16.png" alt="bad-popcorn">
          {{else}}
            <img class="rating-image" src="/assets/images/splat-16.png" alt="bad-popcorn">
          {{/if}}
          {{movie.ratings.critics_score}}
        </div>
        <div class="audience-score">
          {{#if movie.audienceApproved}}
            <img class="rating-image" src="/assets/images/popcorn-16.png" alt="bad-popcorn">
          {{else}}
            <img class="rating-image" src="/assets/images/badpopcorn-16.png" alt="bad-popcorn">
          {{/if}}
          {{movie.ratings.audience_score}}
        </div>
      </div>
    </div>
  {{else}}
    Nothing to see here
  {{/each}}

{{movie-detail movie=movie}}
